<!-- Contact Strip - Variation 1: white background and swiper -->
<div class="section-block contact-strip row p-section">
    <div class="col-md-12">
        <div class="inner-row mx-auto">
            <div class="contact-strip-inner py-5">
                <div class="contact-strip-header text-center">
                    <h5>Tagline</h5>
                    <h2>Sarnia Is On The Map</h2>
                    <p class="like-h5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla.</p>
                </div>
                <div class="contact-strip-content">
                    <div class="swiper contactStripSwiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide contact-strip-slide">
                                <img src="../assets/images/sarnia.jpg" alt="contact strip image">
                            </div>
                            <div class="swiper-slide contact-strip-slide">
                                <img src="../assets/images/sarnia-2.jpg" alt="contact strip image">
                            </div>
                            <div class="swiper-slide contact-strip-slide">
                                <img src="../assets/images/sarnia.jpg" alt="contact strip image">
                            </div>
                            <div class="swiper-slide contact-strip-slide">
                                <img src="../assets/images/sarnia-2.jpg" alt="contact strip image">
                            </div>
                        </div>
                        <div class="swiper-button-controls">
                            <div class="swiper-button-prev contact-strip-swiper-button-prev"></div>
                            <div class="swiper-pagination contact-strip-swiper-pagination"></div>
                            <div class="swiper-button-next contact-strip-swiper-button-next"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Contact Strip - Variation 2: blue background and swiper -->
<div class="section-block contact-strip contact-strip-layout-blue-bg row p-section"> <!-- added class contact-strip-layout-blue-bg -->
    <div class="col-md-12">
        <div class="inner-row mx-auto">
            <div class="contact-strip-inner py-5">
                <div class="contact-strip-header text-center">
                    <h5>Tagline</h5>
                    <h2>Sarnia Is On The Map</h2>
                    <p class="like-h5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla.</p>
                </div>
                <div class="contact-strip-content">
                    <div class="swiper contactStripSwiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide contact-strip-slide">
                                <img src="../assets/images/sarnia.jpg" alt="contact strip image">
                            </div>
                            <div class="swiper-slide contact-strip-slide">
                                <img src="../assets/images/sarnia-2.jpg" alt="contact strip image">
                            </div>
                            <div class="swiper-slide contact-strip-slide">
                                <img src="../assets/images/sarnia.jpg" alt="contact strip image">
                            </div>
                            <div class="swiper-slide contact-strip-slide">
                                <img src="../assets/images/sarnia-2.jpg" alt="contact strip image">
                            </div>
                        </div>
                        <div class="swiper-button-controls swiper-button-controls-inverse"> <!-- added class swiper-button-controls-inverse -->
                            <div class="swiper-button-prev contact-strip-swiper-button-prev"></div>
                            <div class="swiper-pagination contact-strip-swiper-pagination"></div>
                            <div class="swiper-button-next contact-strip-swiper-button-next"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Contact Strip - Variation 3: white background and buttons -->
<div class="section-block contact-strip row p-section">
    <div class="col-md-12">
        <div class="inner-row mx-auto">
            <div class="contact-strip-inner py-5">
                <div class="contact-strip-header text-center">
                    <h2>Unable to make the trip to Lambton?</h2>
                    <p class="like-h5">Come take a virtual tour of our beautiful campus or learn more about our campus.</p>
                </div>
                <div class="contact-strip-content"> <!-- changed swiper for buttons -->
                    <div class="contact-strip-btns d-flex justify-content-center">
                        <a class="btn btn-yellow d-flex align-items-center btn-custom" href="#" data-call-to-action="">
                          <span class="icon-font-outline icon-font-arrow-double-large"></span>
                          Apply Now
                        </a>
                        <a class="btn btn-blue d-flex align-items-center btn-custom" href="#" data-call-to-action=""> <!-- white bg, blue button -->
                          <span class="icon-font-outline icon-font-arrow-double-large"></span>
                          Contact Us
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Contact Strip - Variation 4: blue background and buttons -->
<div class="section-block contact-strip contact-strip-layout-blue-bg row p-section"> <!-- added class contact-strip-layout-blue-bg -->
    <div class="col-md-12">
        <div class="inner-row mx-auto">
            <div class="contact-strip-inner py-5">
                <div class="contact-strip-header text-center">
                    <h2>Unable to make the trip to Lambton?</h2>
                    <p class="like-h5">Come take a virtual tour of our beautiful campus or learn more about our campus.</p>
                </div>
                <div class="contact-strip-content"> <!-- changed swiper for buttons -->
                    <div class="contact-strip-btns d-flex justify-content-center">
                        <a class="btn btn-yellow d-flex align-items-center btn-custom" href="#" data-call-to-action="">
                          <span class="icon-font-outline icon-font-arrow-double-large"></span>
                          Apply Now
                        </a>
                        <a class="btn btn-white d-flex align-items-center btn-custom" href="#" data-call-to-action=""> <!-- blue bg, white button -->
                          <span class="icon-font-outline icon-font-arrow-double-large"></span>
                          Contact Us
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Contact Strip - Variation 5: white background without buttons -->
<div class="section-block contact-strip row p-section">
    <div class="col-md-12">
        <div class="inner-row mx-auto">
            <div class="contact-strip-inner py-5">
                <div class="contact-strip-header text-center">
                    <h2>Unable to make the trip to Lambton?</h2>
                    <p class="like-h5 mb-0">Come take a virtual tour of our beautiful campus or learn more about our campus.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Contact Strip - Variation 6: blue background without buttons -->
<div class="section-block contact-strip contact-strip-layout-blue-bg row p-section"> <!-- added class contact-strip-layout-blue-bg -->
    <div class="col-md-12">
        <div class="inner-row mx-auto">
            <div class="contact-strip-inner py-5">
                <div class="contact-strip-header text-center">
                    <h2>Unable to make the trip to Lambton?</h2>
                    <p class="like-h5 mb-0">Come take a virtual tour of our beautiful campus or learn more about our campus.</p>
                </div>
            </div>
        </div>
    </div>
</div>