<div class="section-block explore-block row">
    <div class="col-md-12">
        <div class="inner-row mx-auto">
            <div class="explore-block-inner my-md-5 my-0">
                <div class="explore-block-image-column d-flex align-items-center">
                    <img src="../assets/images/sarnia-2.jpg" class="img-fluid" alt="Sarnia image">
                </div>
                <div class="explore-block-text-column">
                    <div class="explore-block-heading">
                        <h5 class="mb-4">Discover</h5>
                        <h2 class="mb-4">Explore Our Vibrant City and Its Attractions</h2>
                        <p class="like-h5 mb-4">There’s no shortage of things to see and do in our city. Visit Tourism Sarnia-Lambton or more information on Ontario’s blue coast.</p>
                    </div>
                    <div class="explore-block-content">
                        <div class="d-flex align-items-center gap-2 mb-4">
                            <img src="../assets/icons/Tree.svg" alt="Tree icon">
                            <p>Visit our stunning parks and enjoy nature's beauty.</p>
                        </div>
                        <div class="d-flex align-items-center gap-2 mb-4">
                            <img src="../assets/icons/Palette.svg" alt="Palette icon">
                            <p>Experience the vibrant arts scene at our cultural centers.</p>
                        </div>
                        <div class="d-flex align-items-center gap-2 mb-4">
                            <img src="../assets/icons/Masks.svg" alt="Masks icon">
                            <p>Indulge in thrilling entertainment at our venues.</p>
                        </div>
                    </div>
                    <div>
                        <a class="btn btn-blue btn-custom" href="#">
                            <span class="icon-font-outline icon-font-arrow-double-large"></span>
                            Visit ontbluecoast.com
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>