<!-- Flip Grid - Variation 1: blue background and image left -->
<div class="section-block flip-grid-section flip-grid-layout-blue-bg flip-grid-layout-image-left row p-section">
  <div class="col-md-12">
    <div class="inner-row mx-auto">
      <div class="flip-grid-inner">
        <div class="flip-grid-img-wrapper"></div>
        <div class="flip-grid-content">
          <h5>Discover</h5>
          <h2>Explore Our Vibrant City and Its Attractions</h2>
          <p class="like-h5">At Lambton College, we provide state-of-the-art library and study areas for our students. Whether you need a quiet space to focus or collaborative areas to work with peers, our campus has it all.</p>
          <p class="flip-grid-list">Library<span>Access a wide range of resources, books, and online databases to support your studies.</span></p>
          <p class="flip-grid-list">Study Area<span>Find comfortable and well-equipped study areas where you can concentrate and excel academically</span></p>
          <div class="flip-grid-btns">
            <a class="btn btn-yellow d-flex align-items-center btn-custom" href="#" data-call-to-action="">
              <span class="icon-font-outline icon-font-arrow-double-large"></span>
              Button Name
            </a>
            <a class="btn btn-white d-flex align-items-center btn-custom" href="#" data-call-to-action="">
              <span class="icon-font-outline icon-font-arrow-double-large"></span>
              Button Name
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Flip Grid - Variation 2: white background and image right -->
<div class="section-block flip-grid-section flip-grid-layout-white-bg flip-grid-layout-image-right row p-section">
  <div class="col-md-12">
    <div class="inner-row mx-auto">
      <div class="flip-grid-inner">
        <div class="flip-grid-img-wrapper"></div>
        <div class="flip-grid-content">
          <h5>Discover</h5>
          <h2>Explore Our Vibrant City and Its Attractions</h2>
          <p class="like-h5">At Lambton College, we provide state-of-the-art library and study areas for our students. Whether you need a quiet space to focus or collaborative areas to work with peers, our campus has it all.</p>
          <p class="flip-grid-list">Library<span>Access a wide range of resources, books, and online databases to support your studies.</span></p>
          <p class="flip-grid-list">Study Area<span>Find comfortable and well-equipped study areas where you can concentrate and excel academically</span></p>
          <div class="flip-grid-btns">
            <a class="btn btn-yellow d-flex align-items-center btn-custom" href="#" data-call-to-action="">
              <span class="icon-font-outline icon-font-arrow-double-large"></span>
              Button Name
            </a>
            <a class="btn btn-blue d-flex align-items-center btn-custom" href="#" data-call-to-action="">
              <span class="icon-font-outline icon-font-arrow-double-large"></span>
              Button Name
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Flip Grid - Variation 3: blue background and image right -->
<div class="section-block flip-grid-section flip-grid-layout-blue-bg flip-grid-layout-image-right row p-section">
  <div class="col-md-12">
    <div class="inner-row mx-auto">
      <div class="flip-grid-inner">
        <div class="flip-grid-img-wrapper"></div>
        <div class="flip-grid-content">
          <h5>Discover</h5>
          <h2>Explore Our Vibrant City and Its Attractions</h2>
          <p class="like-h5">At Lambton College, we provide state-of-the-art library and study areas for our students. Whether you need a quiet space to focus or collaborative areas to work with peers, our campus has it all.</p>
          <p class="flip-grid-list">Library<span>Access a wide range of resources, books, and online databases to support your studies.</span></p>
          <p class="flip-grid-list">Study Area<span>Find comfortable and well-equipped study areas where you can concentrate and excel academically</span></p>
          <div class="flip-grid-btns">
            <a class="btn btn-yellow d-flex align-items-center btn-custom" href="#" data-call-to-action="">
              <span class="icon-font-outline icon-font-arrow-double-large"></span>
              Button Name
            </a>
            <a class="btn btn-white d-flex align-items-center btn-custom" href="#" data-call-to-action="">
              <span class="icon-font-outline icon-font-arrow-double-large"></span>
              Button Name
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Flip Grid - Variation 4: white background and image left -->
<div class="section-block flip-grid-section flip-grid-layout-white-bg flip-grid-layout-image-left row p-section">
  <div class="col-md-12">
    <div class="inner-row mx-auto">
      <div class="flip-grid-inner">
        <div class="flip-grid-img-wrapper"></div>
        <div class="flip-grid-content">
          <h5>Discover</h5>
          <h2>Explore Our Vibrant City and Its Attractions</h2>
          <p class="like-h5">At Lambton College, we provide state-of-the-art library and study areas for our students. Whether you need a quiet space to focus or collaborative areas to work with peers, our campus has it all.</p>
          <p class="flip-grid-list">Library<span>Access a wide range of resources, books, and online databases to support your studies.</span></p>
          <p class="flip-grid-list">Study Area<span>Find comfortable and well-equipped study areas where you can concentrate and excel academically</span></p>
          <div class="flip-grid-btns">
            <a class="btn btn-yellow d-flex align-items-center btn-custom" href="#" data-call-to-action="">
              <span class="icon-font-outline icon-font-arrow-double-large"></span>
              Button Name
            </a>
            <a class="btn btn-blue d-flex align-items-center btn-custom" href="#" data-call-to-action="">
              <span class="icon-font-outline icon-font-arrow-double-large"></span>
              Button Name
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>