<div class="section-block homepage-header-section">
  <div class="homepage-header-shapes">
    <div class="homepage-header-triangle"></div>
    <div class="homepage-header-vertical-rectangle"></div>
  </div>
  <div class="d-flex w-100">
    <div class="inner-row mx-auto">
      <div class="homepage-header-content row">
        <div class="col-md-5 d-flex align-items-center">
          <div class="homepage-header-text">
            <h1>For What Comes Next</h1>
            <p class="like-h5">
              At Lambton College, learning is personal, caring and connected to
              the knowledge, skills and strengths our people, communities, and
              industries need to thrive.
            </p>
            <p class="like-h5 homepage-header-details">EXPLORE:</p>
            <div class="homepage-header-btns">
              <a class="btn btn-yellow d-flex align-items-center btn-custom" href="#" data-call-to-action="">
                <span class="icon-font-outline icon-font-arrow-double-large"></span>
                Life At Lambton
              </a>
              <a class="btn btn-white d-flex align-items-center btn-custom" href="#" data-call-to-action="">
                <span class="icon-font-outline icon-font-arrow-double-large"></span>
                Our Campus
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 offset-md-1 homepage-header-images-container">
          <div class="homepage-header-images-wrapper">
            <div class="homepage-header-image">
              <img src="../assets/images/header.png" alt="Homepage Header Image 1"/>
            </div>
            <div class="homepage-header-image">
              <img src="../assets/images/hero-area.png" alt="Homepage Header Image 2"/>
            </div>
            <div class="homepage-header-image">
              <img src="../assets/images/header1.png" alt="Homepage Header Image 3"/>
            </div>
            <div class="homepage-header-image">
              <img src="../assets/images/student2.png" alt="Homepage Header Image 4"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
