<div class="section-block life-college row">
    <div class="col-md-12">
        <div class="inner-row mx-auto">
            <div class="life-college-inner pt-md-5 pb-md-4 py-3">
                <div class="life-college-header text-center">
                    <h2>Empowering Students Through Education and Support</h2>
                    <p>At Lambton College, learning is personal, caring, and connected to the knowledge, skills, and strengths our communities and industries need to thrive. We foster close connections between students, communities, and the college to build better lives and a stronger society.</p>
                </div>
                <div class="life-college-content">
                    <div class="life-college-three-columns">
                        <div class="life-college-column life-college-text-column text-center">
                            <div>
                                <img src="../assets/icons/Bulb.svg" class="pb-2" alt="Bulb icon">
                                <h3>We Innovate</h3>
                                <p>Lambton is unparalleled in its applied research output, impact, and industry partnerships.</p>
                            </div>
                            <div>
                                <img src="../assets/icons/People.svg" class="pb-2" alt="People icon">
                                <h3>We are Inclusive</h3>
                                <p>Lambton is a place where people find a sense of belonging. It is accessible and inclusive.</p>
                            </div>
                        </div>
                  
                        <div class="life-college-column life-college-image-column">
                            <img src="../assets/images/flip-grid.png" class="img-fluid" alt="Students in a classroom">
                        </div>
                  
                        <div class="life-college-column life-college-text-column text-center">
                            <div>
                                <img src="../assets/icons/Heart.svg" class="pb-2" alt="Heart icon">
                                <h3>We Care</h3>
                                <p>Lambton puts people first to support personal, professional, and civic growth.</p>
                            </div>
                            <div>
                                <img src="../assets/icons/Trophy.svg" class="pb-2" alt="Trophy icon">
                                <h3>We are Dynamic</h3>
                                <p>Lambton is a catalyst for positive change and a symbol of community progress.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center mt-md-5 mt-4">
                    <a class="btn btn-dark-blue btn-custom" href="#" data-call-to-action="">
                        <span class="icon-font-outline icon-font-arrow-double-large"></span>
                        Explore Life At Lambton
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>