<section class="stat-block row">
  <div class="col-md-12">
    <div class="inner-row mx-auto">
      <div>
        <h2>Discover the Possibilities of a College Education</h2>
        <p>
          At Lambton College, we offer a wide range of programs and resources to
          help you succeed. Whether you're interested in business, technology,
          or the arts, our dedicated faculty and state-of-the-art facilities
          will provide you with the skills and knowledge you need to thrive in
          your chosen field. With a focus on hands-on learning and real-world
          experience, you'll graduate ready to make an impact in the workforce.
        </p>
        <div>
          <a
            class="btn btn-yellow d-flex align-items-center btn-custom mb-3"
            href="#"
            data-call-to-action=""
          >
            <span class="icon-font-outline icon-font-arrow-double-large"></span>
            Apply Now
          </a>
          <a
            class="btn btn-white d-flex align-items-center btn-custom"
            href="#"
            data-call-to-action=""
          >
            <span class="icon-font-outline icon-font-arrow-double-large"></span>
            Contact Us
          </a>
        </div>
      </div>
      <div>
        <div>
          <h3>100s</h3>
          <p>Of career options</p>
        </div>
        <div>
          <h3>1.5M+</h3>
          <p>Available in scholarships and bursaries</p>
        </div>
        <div>
          <h3>28.1</h3>
          <p>Average student to teacher ratio</p>
        </div>
        <div>
          <h3>81.9%</h3>
          <p>of our graduates find employment</p>
        </div>
      </div>
    </div>
  </div>
</section>
