<div class="section-block student-resources row">
    <div class="col-md-12">
        <div class="inner-row mx-auto">
            <div class="student-resources-inner py-md-5 py-3">
                <div class="student-resources-header text-center">
                    <h2>Future Student Resources</h2>
                    <p>Find everything you need to know</p>
                    <a href="#" class="like-h5 d-inline-flex align-items-center gap-2 justify-content-center">
                        <img src="../assets/icons/custom-next.svg" alt="Arrow icon">
                        View All
                    </a>
                </div>
                <div class="student-resources-content">
                    <div class="swiper studentSwiper w-100 h-100">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide d-flex flex-column">
                                <div class="student-resources-image">
                                    <img src="../assets/images/student-1.png" alt="team member 1">
                                </div>
                                <div class="student-resources-info">
                                    <h4>Searchable FAQs</h4>
                                    <div class="d-flex align-items-center gap-3 mb-3">
                                        <div class="student-resources-category">
                                            <p class="mb-0">Category</p>
                                        </div>
                                        <p class="mb-0">5 min read</p>
                                    </div>
                                    <p class="student-resources-description">Search our FAQs for the answers you need.</p>
                                    <a href="#" class="like-h5 d-inline-flex align-items-center gap-2 mb-0 student-resources-link">
                                        <img src="../assets/icons/custom-next.svg" alt="Arrow icon">
                                        Read More
                                    </a>
                                </div>
                            </div>
                            <div class="swiper-slide d-flex flex-column">
                                <div class="student-resources-image">
                                    <img src="../assets/images/student-2.png" alt="team member 1">
                                </div>
                                <div class="student-resources-info">
                                    <h4>Financial Aid</h4>
                                    <div class="d-flex align-items-center gap-3 mb-3">
                                        <div class="student-resources-category">
                                            <p class="mb-0">Category</p>
                                        </div>
                                        <p class="mb-0">4 min read</p>
                                    </div>
                                    <p class="student-resources-description">Learn all about your financing options.</p>
                                    <a href="#" class="like-h5 d-inline-flex align-items-center gap-2 mb-0 student-resources-link">
                                        <img src="../assets/icons/custom-next.svg" alt="Arrow icon">
                                        Read More
                                    </a>
                                </div>
                            </div>
                            <div class="swiper-slide d-flex flex-column">
                                <div class="student-resources-image">
                                    <img src="../assets/images/student-3.png" alt="team member 1">
                                </div>
                                <div class="student-resources-info">
                                    <h4>Tips for College Success</h4>
                                    <div class="d-flex align-items-center gap-3 mb-3">
                                        <div class="student-resources-category">
                                            <p class="mb-0">Category</p>
                                        </div>
                                        <p class="mb-0">3 min read</p>
                                    </div>
                                    <p class="student-resources-description">Valuable advice on how to thrive in college.</p>
                                    <a href="#" class="like-h5 d-inline-flex align-items-center gap-2 mb-0 student-resources-link">
                                        <img src="../assets/icons/custom-next.svg" alt="Arrow icon">
                                        Read More
                                    </a>
                                </div>
                            </div>
                            <div class="swiper-slide d-flex flex-column">
                                <div class="student-resources-image">
                                    <img src="../assets/images/student1.png" alt="team member 1">
                                </div>
                                <div class="student-resources-info">
                                    <h4>Lorem ipsum</h4>
                                    <div class="d-flex align-items-center gap-3 mb-3">
                                        <div class="student-resources-category">
                                            <p class="mb-0">Category</p>
                                        </div>
                                        <p class="mb-0">8 min read</p>
                                    </div>
                                    <p class="student-resources-description">Lorem ipsum dolor sit amet.</p>
                                    <a href="#" class="like-h5 d-inline-flex align-items-center gap-2 mb-0 student-resources-link">
                                        <img src="../assets/icons/custom-next.svg" alt="Arrow icon">
                                        Read More
                                    </a>
                                </div>
                            </div>
                          
                        </div>
                        <div class="swiper-button-controls">
                            <div class="swiper-button-prev student-resources-swiper-button-prev"></div>
                            <div class="swiper-pagination student-resources-swiper-pagination"></div>
                            <div class="swiper-button-next student-resources-swiper-button-next"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>