<div class="section-block team-member row">
    <div class="col-md-12">
        <div class="inner-row mx-auto">
            <div class="team-member-inner py-md-5 py-3">
                <div class="team-member-header text-center">
                    <h5>Here To Help</h5>
                    <h2>Our Supporting Team</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                <div class="team-member-content">
                    <div class="swiper teamMemberSwiper">
                        <div class="swiper-wrapper">
                          <div class="swiper-slide">
                            <div class="team-member-image">
                                <img src="../assets/images/team1.png" alt="team member 1">
                            </div>
                            <div class="team-member-info">
                                <h4>Full Name</h4>
                                <p>Job title</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                <div class="team-member-social">
                                    <a href="#"><img src="../assets/icons/social-1.svg" alt="LinkedIn logo"></a>
                                    <a href="#"><img src="../assets/icons/social-2.svg" alt="X logo"></a>
                                    <a href="#"><img src="../assets/icons/social-3.svg" alt="Dribbble logo"></a>
                                </div>
                            </div>
                          </div>
                          <div class="swiper-slide">
                            <div class="team-member-image">
                                <img src="../assets/images/team2.png" alt="team member 1">
                            </div>
                            <div class="team-member-info">
                                <h4>Full Name</h4>
                                <p>Job title</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                <div class="team-member-social">
                                    <a href="#"><img src="../assets/icons/social-1.svg" alt="LinkedIn logo"></a>
                                    <a href="#"><img src="../assets/icons/social-2.svg" alt="X logo"></a>
                                    <a href="#"><img src="../assets/icons/social-3.svg" alt="Dribbble logo"></a>
                                </div>
                            </div>
                          </div>
                          <div class="swiper-slide">
                            <div class="team-member-image">
                                <img src="../assets/images/team3.png" alt="team member 1">
                            </div>
                            <div class="team-member-info">
                                <h4>Full Name</h4>
                                <p>Job title</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                <div class="team-member-social">
                                    <a href="#"><img src="../assets/icons/social-1.svg" alt="LinkedIn logo"></a>
                                    <a href="#"><img src="../assets/icons/social-2.svg" alt="X logo"></a>
                                    <a href="#"><img src="../assets/icons/social-3.svg" alt="Dribbble logo"></a>
                                </div>
                            </div>
                          </div>
                          <div class="swiper-slide">
                            <div class="team-member-image">
                                <img src="../assets/images/team1.png" alt="team member 1">
                            </div>
                            <div class="team-member-info">
                                <h4>Full Name</h4>
                                <p>Job title</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                <div class="team-member-social">
                                    <a href="#"><img src="../assets/icons/social-1.svg" alt="LinkedIn logo"></a>
                                    <a href="#"><img src="../assets/icons/social-2.svg" alt="X logo"></a>
                                    <a href="#"><img src="../assets/icons/social-3.svg" alt="Dribbble logo"></a>
                                </div>
                            </div>
                          </div>
                          <div class="swiper-slide">
                            <div class="team-member-image">
                                <img src="../assets/images/team2.png" alt="team member 1">
                            </div>
                            <div class="team-member-info">
                                <h4>Full Name</h4>
                                <p>Job title</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                <div class="team-member-social">
                                    <a href="#"><img src="../assets/icons/social-1.svg" alt="LinkedIn logo"></a>
                                    <a href="#"><img src="../assets/icons/social-2.svg" alt="X logo"></a>
                                    <a href="#"><img src="../assets/icons/social-3.svg" alt="Dribbble logo"></a>
                                </div>
                            </div>
                          </div>
                          <div class="swiper-slide">
                            <div class="team-member-image">
                                <img src="../assets/images/team3.png" alt="team member 1">
                            </div>
                            <div class="team-member-info">
                                <h4>Full Name</h4>
                                <p>Job title</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                <div class="team-member-social">
                                    <a href="#"><img src="../assets/icons/social-1.svg" alt="LinkedIn logo"></a>
                                    <a href="#"><img src="../assets/icons/social-2.svg" alt="X logo"></a>
                                    <a href="#"><img src="../assets/icons/social-3.svg" alt="Dribbble logo"></a>
                                </div>
                            </div>
                          </div>
                        </div>
                        <div class="swiper-button-next team-member-swiper-button-next"></div>
                        <div class="swiper-button-prev team-member-swiper-button-prev"></div>
                        <div class="swiper-pagination team-member-swiper-pagination"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>