:root {
  --dark-blue: #00446b;
  --light-blue: #cde9f4;
}

.explore-block {
  background-color: var(--light-blue);
}

.explore-block .explore-block-inner {
  background-color: var(--light-blue);
  display: flex;
  align-items: stretch;
  padding: 0;
  gap: 48px;
  flex-direction: column;
}

.explore-block .explore-block-heading h5 {
  display: block;
  color: var(--dark-blue);
}

.explore-block .explore-block-image-column img {
  height: 100%;
  width: auto;
  object-fit: cover;
}

.explore-block .explore-block-content p {
  margin-bottom: 0;
  font-size: 20px;
  line-height: 1.5;
}

/* Media queries */
@media (min-width: 768px) {
  .explore-block {
    background-color: #fff;
  }
  .explore-block .explore-block-heading h5 {
    display: none;
  }
  .explore-block .explore-block-text-column {
    padding: 48px 0;
  }
  .explore-block .explore-block-inner {
    flex-direction: row;
    padding: 20px 50px 20px 20px;
    border-top-left-radius: 20px;
  }
  .explore-block .explore-block-heading p {
    max-width: 502px;
  }
  .explore-block .explore-block-image-column,
  .explore-block .explore-block-text-column {
    flex: 1;
  }
}

@media (min-width: 992px) {
  .explore-block .explore-block-image-column {
    max-width: 524px;
    flex: 0 0 524px;
  }
  .explore-block .explore-block-text-column {
    flex: 0 1 auto;
  }
}
