:root {
  --dark-blue: #00446B;
  --blue: #0076A8;
}

.stat-block-section {
  background-color: var(--dark-blue);
}

.stat-block-section .stat-block {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  flex-direction: column;
}

.stat-block-section .first-col h3 {
  font-size: 1.125rem;
  line-height: 1.25rem;
  margin-top: 0;
  margin-bottom: 1.875rem;
  color: #fff;
  display: none;
}

.stat-block-section .first-col h2 {
  font-size: 2.5rem;
  line-height: 3rem;
  margin-top: 0;
  margin-bottom: 1.875rem;
  color: #fff;
  font-family: "Weissenhof-Grotesk-Regular", "Georgia", serif;
}

.stat-block-section .first-col p {
  color: #fff;
  font-family: "Weissenhof-Grotesk-Medium", "Georgia", serif;
  font-size: 1.125rem;
  line-height: 1.625rem;
}

.stat-block-section .first-col,
.stat-block-section .second-col {
  flex: 1;
}

.stat-block-section .second-col {
  display: grid;
  gap: 3.125rem;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
}

.stat-block-section .second-col > div {
  background-color: #fff;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 0;
}

.stat-block-section .second-col > div:nth-child(1) {
  border-top-left-radius: 1.25rem;
}

.stat-block-section .second-col > div:nth-child(2) {
  border-top-right-radius: 1.25rem;
}

.stat-block-section .second-col > div:nth-child(3) {
  border-bottom-left-radius: 1.25rem;
}

.stat-block-section .second-col > div:nth-child(4) {
  border-bottom-right-radius: 1.25rem;
}

.stat-block-section .second-col h2 {
  color: var(--blue);
  font-size: 4.5rem;
  line-height: 5.125rem;
  margin: 0;
}

.stat-block-section .second-col h3 {
  color: var(--dark-blue);
  font-size: 2rem;
  line-height: 2.375rem;
  margin: 0;
  font-family: "Weissenhof-Grotesk-Regular", "Georgia", serif;
}

.stat-block-section .second-col p {
  color: var(--dark-blue);
  margin-top: 1.75rem;
  margin-bottom: 0;
  font-size: 1.25rem;
  line-height: 1.875rem;
}

.stat-block-section .stat-block-btns {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;
  column-gap: 1.875rem;
}

@media (min-width: 576px) {
  .stat-block-section .second-col {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
  }
  .stat-block-section .stat-block-btns {
    justify-content: flex-start;
  }
  .stat-block-section .first-col h3 {
    display: block;
  }
}

@media (min-width: 992px) {
  .stat-block-section .stat-block {
    padding-top: 2.813rem;
    padding-bottom: 2.813rem;
    flex-direction: row;
    gap: 3.75rem;
  }
  .stat-block-section .first-col {
    max-width: 22.5rem;
  }
  .stat-block-section .stat-block-btns {
    column-gap: 1.125rem;
    justify-content: space-between;
  }
}
