:root {
  --blue: #0076a8;
  --yellow: #ffd000;
  --dark-blue: #00446b;
}

/* New button variations - global styles for all partials */
html .btn.btn-custom {
  padding: 0.5rem 1.25rem;
  font-size: 1.125rem;
}

html .btn.btn-custom .icon-font-outline {
  top: 1px;
  font-size: 1.25rem;
}

/* New button variation: white - global styles */
html .btn.btn-white {
  background-color: #fff;
  color: #000;
  border: 1px solid #fff !important;
}

html .btn.btn-white:hover {
  background-color: var(--blue);
  color: #fff !important;
}

html .btn.btn-white > span[class*="arrow-double-large"]:before {
  color: var(--blue);
}

a.btn-white:hover > span[class*="arrow-double-large"]:after,
button.btn-white:hover > span[class*="arrow-double-large"]:after {
  color: var(--yellow);
}

/* New button variation: blue - global styles */
html .btn.btn-blue {
  background-color: var(--blue);
  color: #fff !important;
}

html .btn.btn-blue:hover {
  background-color: var(--dark-blue);
}

html .btn.btn-blue > span[class*="arrow-double-large"]:before {
  color: var(--yellow);
}

a.btn-blue:hover > span[class*="arrow-double-large"]:after,
button.btn-blue:hover > span[class*="arrow-double-large"]:after {
  color: #fff;
}

/* New button variation: dark blue - global styles */
html .btn.btn-dark-blue {
  background-color: var(--dark-blue);
  color: #fff !important;
}

html .btn.btn-dark-blue:hover {
  background-color: var(--blue);
}

html .btn.btn-dark-blue > span[class*="arrow-double-large"]:before {
  color: var(--yellow);
}

a.btn-dark-blue:hover > span[class*="arrow-double-large"]:after,
button.btn-dark-blue:hover > span[class*="arrow-double-large"]:after {
  color: #fff;
}

a.btn-white:hover > span[class*="arrow-double-large"]:after,
button.btn-white:hover > span[class*="arrow-double-large"]:after,
a.btn-blue:hover > span[class*="arrow-double-large"]:after,
button.btn-blue:hover > span[class*="arrow-double-large"]:after,
a.btn-dark-blue:hover > span[class*="arrow-double-large"]:after,
button.btn-dark-blue:hover > span[class*="arrow-double-large"]:after {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}
a.btn-white:not(:hover) > span[class*="arrow-double-large"]:after,
button.btn-white:not(:hover) > span[class*="arrow-double-large"]:after,
a.btn-blue:not(:hover) > span[class*="arrow-double-large"]:after,
button.btn-blue:not(:hover) > span[class*="arrow-double-large"]:after,
a.btn-dark-blue:not(:hover) > span[class*="arrow-double-large"]:after,
button.btn-dark-blue:not(:hover) > span[class*="arrow-double-large"]:after {
  clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
}
a.btn-white:not(:hover) > span[class*="arrow-double-large"]:after,
button.btn-white:not(:hover) > span[class*="arrow-double-large"]:after,
a.btn-blue:not(:hover) > span[class*="arrow-double-large"]:after,
button.btn-blue:not(:hover) > span[class*="arrow-double-large"]:after,
a.btn-dark-blue:not(:hover) > span[class*="arrow-double-large"]:after,
button.btn-dark-blue:not(:hover) > span[class*="arrow-double-large"]:after {
  color: unset !important; /* same as in global styles */
}

/* New heading styles - global styles */

html body .section-block h1,
html body .section-block .like-h1{
  margin-top: 0;
  margin-bottom: 1.25rem;
  font-size: 3.125rem;
  line-height: 3.75rem;
  font-family: "Weissenhof-Grotesk-Medium", "Georgia", serif;
  padding: 0;
}

html body .section-block h2,
html body .section-block .like-h2{
  margin-top: 0;
  margin-bottom: 1.875rem;
  font-size: 2.5rem;
  line-height: 3rem;
  font-family: "Weissenhof-Grotesk-Regular", "Georgia", serif;
}

html body .section-block h4,
html body .section-block .like-h4 {
  margin-top: 0;
  font-size: 1.25rem;
  line-height: 1.688rem;
  font-family: "Weissenhof-Grotesk-Medium", "Georgia", serif;
}

html body .section-block h5,
html body .section-block .like-h5 {
  margin-top: 0;
  margin-bottom: 1.875rem;
  font-size: 1.125rem;
  line-height: 1.625rem;
  font-family: "Weissenhof-Grotesk-Medium", "Georgia", serif;
}

@media (min-width: 768px) {
  html body .section-block h1,
  html body .section-block .like-h1{
    font-size: 3.625rem;
    line-height: 4.375rem;
  }
}

@media (min-width: 992px) {
  html body .section-block h1,
  html body .section-block .like-h1{
    font-size: 4.5rem;
    line-height: 5.125rem;
  }
}

/* Swiper controls: pagination & next and previous buttons */
.section-block .swiper-button-controls {
    display: flex;
    justify-content: center;
    column-gap: 0.5rem;
    margin-top: 1.875rem;
}

.section-block .swiper-button-controls .swiper-pagination {
    position: relative;
    width: auto;
}

.section-block .swiper-button-controls .swiper-pagination .swiper-pagination-bullet {
    background-color: #fff;
    width: 1.25rem;
    height: 1.25rem;
    opacity: 1;
    border: 2px solid var(--dark-blue);
    margin-right: 0.313rem;
    margin-left: 0.313rem;
}

.section-block .swiper-button-controls .swiper-pagination .swiper-pagination-bullet-active {
    background-color: var(--dark-blue);
}

.section-block .swiper-button-controls .swiper-button-next,
.section-block .swiper-button-controls .swiper-button-prev {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 1.25rem;
    height: 1.25rem;
    position: relative;
}

.section-block .swiper-button-controls .swiper-pagination,
.section-block .swiper-button-controls .swiper-button-next,
.section-block .swiper-button-controls .swiper-button-prev {
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
    transform: none;
}

.section-block .swiper-button-controls .swiper-button-next {
    background-image: url('../assets/icons/custom-next.svg');
}

.section-block .swiper-button-controls .swiper-button-prev {
    background-image: url('../assets/icons/custom-prev.svg');
}

.section-block .swiper-button-controls .swiper-button-next::before,
.section-block .swiper-button-controls .swiper-button-prev::before {
    content: none;
}

.section-block .swiper-button-controls.swiper-button-controls-inverse .swiper-pagination .swiper-pagination-bullet {
    border: 2px solid #fff;
}
.section-block .swiper-button-controls.swiper-button-controls-inverse .swiper-button-next {
    background-image: url('../assets/icons/custom-next-white.svg');
}

.section-block .swiper-button-controls.swiper-button-controls-inverse .swiper-button-prev {
    background-image: url('../assets/icons/custom-prev-white.svg');
}