:root {
  --blue: #0076a8;
  --yellow: #ffd000;
  --dark-blue: #00446b;
}

/* New button variations - global styles for all partials */
html .btn.btn-custom {
  padding: 0.5rem 1.25rem;
  font-size: 1.125rem;
}

html .btn.btn-custom .icon-font-outline {
  top: 1px;
  font-size: 1.25rem;
}

/* New button variation: white - global styles */
html .btn.btn-white {
  background-color: #fff;
  color: #000;
  border: 1px solid #fff !important;
}

html .btn.btn-white:hover {
  background-color: var(--blue);
  color: #fff !important;
}

html .btn.btn-white > span[class*="arrow-double-large"]:before {
  color: var(--blue);
}

a.btn-white:hover > span[class*="arrow-double-large"]:after,
button.btn-white:hover > span[class*="arrow-double-large"]:after {
  color: var(--yellow);
}

/* New button variation: blue - global styles */
html .btn.btn-blue {
  background-color: var(--blue);
  color: #fff !important;
}

html .btn.btn-blue:hover {
  background-color: var(--dark-blue);
}

html .btn.btn-blue > span[class*="arrow-double-large"]:before {
  color: var(--yellow);
}

a.btn-blue:hover > span[class*="arrow-double-large"]:after,
button.btn-blue:hover > span[class*="arrow-double-large"]:after {
  color: #fff;
}

a.btn-white:hover > span[class*="arrow-double-large"]:after,
button.btn-white:hover > span[class*="arrow-double-large"]:after,
a.btn-blue:hover > span[class*="arrow-double-large"]:after,
button.btn-blue:hover > span[class*="arrow-double-large"]:after {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}
a.btn-white:not(:hover) > span[class*="arrow-double-large"]:after,
button.btn-white:not(:hover) > span[class*="arrow-double-large"]:after,
a.btn-blue:not(:hover) > span[class*="arrow-double-large"]:after,
button.btn-blue:not(:hover) > span[class*="arrow-double-large"]:after {
  clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
}
a.btn-white:not(:hover) > span[class*="arrow-double-large"]:after,
button.btn-white:not(:hover) > span[class*="arrow-double-large"]:after,
a.btn-blue:not(:hover) > span[class*="arrow-double-large"]:after,
button.btn-blue:not(:hover) > span[class*="arrow-double-large"]:after {
  color: unset !important; /* same as in global styles */
}

/* New heading styles - global styles */

html body .section-block h1,
html body .section-block .like-h1{
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 50px;
  line-height: 60px;
  font-family: "Weissenhof-Grotesk-Medium", "Georgia", serif;
  padding: 0;
}

html body .section-block h2,
html body .section-block .like-h2{
  margin-top: 0;
  margin-bottom: 1.875rem;
  font-size: 2.5rem;
  line-height: 3rem;
  font-family: "Weissenhof-Grotesk-Regular", "Georgia", serif;
}

html body .section-block h5,
html body .section-block .like-h5 {
  margin-top: 0;
  margin-bottom: 1.875rem;
  font-size: 1.125rem;
  line-height: 1.625rem;
  font-family: "Weissenhof-Grotesk-Medium", "Georgia", serif;
}

@media (min-width: 768px) {
  html body .section-block h1,
  html body .section-block .like-h1{
    font-size: 72px;
    line-height: 82px;
  }
}